{
  "extends": "idiomatic",
  "env": {
    "browser": true
  },
  "globals": {
    "olark": true
  },
  "rules": {
    "array-bracket-spacing": [2, "never"],
    "comma-dangle": [2, "always-multiline"],
    "computed-property-spacing": [2, "never"],
    "func-names": 0,
    "no-alert": 0,
    "one-var": [2, { "var": "always", "let": "never", "const": "never" }],
    "quotes": [2, "double"],
    "space-in-parens": [2, "never"]
  }
}
